body {
    width: 60%;
    padding-top: 5%;
    margin: 0 auto;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
}

button {
    display: inline-flex;
    align-items: center;
    gap: 8px;
    padding: 8px 16px;
    background-color: #0b0b15;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

button:hover {
    background-color: #939393;

}

/* Table */
main {
    margin-top: 2%;
    background: #fff;
    border-radius: 8px;
    border: solid 1px #0b0b15;
    padding: 16px;
    overflow-x: auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

th {
    text-align: left;
    padding: 12px;
    font-weight: bold;
}

td {
    padding: 12px;
    border-bottom: 1px solid #f0f0f0;
}

tr:last-child td {
    border-bottom: none;
}

/* search bar */
.search{
    width: 100%;
    margin-top: 5%;
    display: flex;
    align-items: center;
    background: #f3f4f6;
    border-radius: 8px;
    padding: 8px 12px;
}

.searchInput{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    font-size: 14px;
}

/*Add new Card*/
label {
    display: block;
    margin-bottom: 6px;
    font-weight: 500;
    font-size: 14px;
}

.inputBar {
    width: 100%;
    padding: 10px 12px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    box-sizing: border-box;
}
